.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  padding: 2rem;
  background: white;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 100%;
}

.item p {
  margin-top: 0;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
}

@media (min-width: 550px) {
  .item p {
    font-size: 2rem;
  }
}

.optionsPanel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  flex-direction: column;
}

.optionsPanel > div {
  max-width: 100%;
  width: 100%;
}

.optionsPanel input {
  border-radius: 5px;
  width: 100%;
  height: 54px;
}

.optionsPanel select {
  height: 54px;
  float: right;
  margin: 0;
}

.optionsPanel input,
.optionsPanel select {
  font-size: 1rem;
}

@media (min-width: 550px) {
  .optionsPanel {
    flex-direction: row;
  }

  .optionsPanel > div,
  .item {
    max-width: 48%;
  }

  .sortSection h3 {
    text-align: right;
  }
}
