.form {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.input {
  border: 0;
  display: inline-block;
  border: 3px solid rgba(0, 0, 0, 0.7);
  padding: 0.6rem;
  background: transparent;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: inherit;

  flex: 1;
  margin-right: 2rem;
}

.input:disabled {
  color: #00000080;
}

.input:focus {
  outline: 0;
}

.btn {
  min-height: 50px;
  padding-right: 2rem;
  padding-left: 2rem;
  background: black;
  color: white;
  cursor: pointer;
  border: 4px solid transparent;
  transition: background-color 0.4s;

  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.feedbackBtnArea {
  text-align: right;
}

.feedback {
  margin-top: 3em;
}

.feedback h2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}
