.detailsList {
  padding: 0;
  list-style-type: none;
}

.detailsList > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.detailsList li span:first-of-type {
  opacity: 0.6;
}
