.detailsList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
}

.detailsItem {
  width: 40%;
  font-size: 0.8em;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.detailsDesc {
  width: 10%;
  margin: 0;
}

.detailsItem,
.detailsDesc {
  padding: 1rem 0;
}
