* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  background: #f5f5f5 url("/assets/practice.png") no-repeat;
  background-size: 200px;
  background-position-x: center;
  background-position-y: bottom;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 2em;
  margin: 4em auto;
}
