* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: url("/assets/work.png") no-repeat;
  background-size: 200px;
  background-position-x: center;
  background-position-y: 98%;
  min-height: 100vh;
  transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

body.wrong {
  background-color: #e45774;
}

body.right {
  background-color: #b3efb2;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 2em;
  margin: 0 auto;
}

.space {
  display: flex;
  justify-content: space-between;
}
